src/main/resources/textures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="textures" type="texturesType"/>
  <xs:complexType name="parameterType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="value" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="parametersType">
    <xs:sequence>
      <xs:element type="parameterType" name="parameter" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="imageType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="imagesType">
    <xs:sequence>
      <xs:element type="imageType" name="image"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="textureType">
    <xs:sequence>
      <xs:element type="parametersType" name="parameters"/>
      <xs:element type="imagesType" name="images"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
    <xs:attribute type="xs:float" name="type"/>
  </xs:complexType>
  <xs:complexType name="texturesType">
    <xs:sequence>
      <xs:element type="textureType" name="texture"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>